/* * {
  border: 1px solid black;
} */

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  max-width: 400px;
  min-width: 320px;
  height: auto;
  background-color: black;
  border: 5px solid rgb(73, 73, 73);
}

#screen {
  display: flex;
  margin: 20px;
  flex: 1 1 15%;
  border: 5px solid rgb(73, 73, 73);
  background-color: rgb(116, 172, 32);
  justify-content: right;
  align-items: center;
  font-size: clamp(35px, 6vw, 45px);
  font-family: 'Courier New', monospace;
}

.button-panel {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

button {
  box-sizing: border-box;
  flex: 1 1 25%;
  aspect-ratio: 1/1;
  font-size: clamp(10px, 6vw, 30px);
}

#zero{
  flex: 1 1 50%;
  aspect-ratio: auto;
}


.number {
  background-color: aquamarine;
}

.number:active {
  background-color: rgb(81, 161, 135);
}

.operator {
  background-color: rgb(88, 231, 231);
}

.operator:active {
  background-color: rgb(67, 167, 167);
}

.helper {
  background-color: rgb(153, 27, 153);
}

.helper:active {
  background-color: rgb(116, 21, 116);
}

