/* * {
  border: 1px solid black;
} */

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 400px;
  aspect-ratio: 3/4;
  background-color: silver;
}

#screen {
  display: flex;
  margin: 20px;
  height: 75px;
  border: 5px solid black;
  background-color: white;
}

.button-panel {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

button {
  box-sizing: border-box;
  width: 100px;
  aspect-ratio: 1/1;
  font-size: 30px;
}

#zero{
  width: 200;
  flex-grow: 1;
  aspect-ratio: auto;
}


/* .number,
.operator {
  background-color: orange;
} */

