/* * {
  border: 1px solid black;
} */

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 400px;
  aspect-ratio: 3/4;
  background-color: black;
  border: 5px solid rgb(73, 73, 73);
}

#screen {
  display: flex;
  margin: 20px;
  height: 75px;
  border: 5px solid rgb(73, 73, 73);
  background-color: rgb(116, 172, 32);
  justify-content: right;
  align-items: center;
  font-size: 45px;
  font-family: 'Courier New', monospace;
}

.button-panel {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

button {
  box-sizing: border-box;
  width: 100px;
  aspect-ratio: 1/1;
  font-size: 30px;
}

#zero{
  width: 200;
  flex-grow: 1;
  aspect-ratio: auto;
}


.number {
  background-color: aquamarine;
}

.operator {
  background-color: rgb(88, 231, 231);
}

.helper {
  background-color: rgb(153, 27, 153);
}

